body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}
#section-1 {
  background-image: url("images/topBanner.png");
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.flexible-contaner {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.btn-grad {
  text-decoration: none;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-weight: bold;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#section-2 {
  background-image: url("images/sideBanner.png");
  background-repeat: no-repeat;
  background-position: right;
}
#section-3 {
  background-image: url("images/leftsideBanner.png");
  background-repeat: no-repeat;
  background-position: left;
}
.portfolio-card {
  width: 40%;
  margin: 0 5%;
  padding-left: 20px;
  box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  border-radius: 10px;
}
#experienced-card-1 {
  border-left: 10px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}
#experienced-card-2 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

.portfolio-card-text--box {
  padding: 10px 20px;
}

#footer p {
  text-align: center;
}

@media screen and (max-width: 780px) {
  section {
    margin-bottom: 40px;
  }
  #section-1 .half-width {
    text-align: center;
  }
  .content-box {
    padding: 0px 16px;
  }
  .half-width {
    width: 100vw;
    padding-left: 0%;
    margin-bottom: 40px;
  }
  .half-width {
    width: 100vw;
    padding-left: 0%;
    margin-bottom: 40px;
  }
  .half-width img {
    width: 80vw;
    margin: 0 10vw;
  }
  .flexible-contaner {
    flex-direction: column;
  }
  .portfolio-card {
    width: 100vw;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 0px;
  }
  .portfolio-card-text--box {
    padding: 10px;
  }
}
